.part2{
    width: 100%;
    display: flex;
    justify-content: center;
}
.page2_body{
    margin-top: 20px;
    width: 80%;
}
.table-row{
    display: flex;
    justify-content: space-between;
}
.table-row div{
    width: 70%;
    display: flex;
    justify-content: space-between;
}
.operations{
    margin-top: 20px;
    margin-bottom: 40px;
}
.operations div{
    display: flex;
    justify-content: space-between;
}
.ant-input-affix-wrapper .ant-input:not(:first-child){
    padding-left: 60px;
}
.op_type label{
    vertical-align: middle;
    margin-top: 5px;
    margin-right: 5px;
}